.root {
  position: absolute;
  display: flex;
  padding: 10px;
}

.inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, .2);
  box-shadow: 2px 2px 2px #EEE;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
  font-size: 12px;
  text-align: center;
}

.match .inner {
  border: 2px solid rgba(248, 222, 100);
  background: rgba(254, 246, 91);
}

.inner:hover {
  border: 2px solid rgba(0, 0, 0, .4);
}

.name {
  font-weight: bold;
  margin: 0px;
}

.from {
  color: #666;
  margin: 0px;
}

.date {
  color: #888;
  margin: 0px;
}

.male {
  background: #e2f9ff;
}

.female {
  background: #f9dbeb;
}

.isRoot {
  border-color: rgba(0, 0, 255, .4);
  box-shadow: 2px 2px 2px rgba(0, 0, 255, .2);
}

.birthday .inner {
  border: 2px solid rgba(255, 200, 30);
  background: rgba(255, 250, 120);
  animation: blink 3s linear infinite;
}

@keyframes blink{
  0% { border: 2px solid rgba(255, 200, 30); }
  50% { border: 2px solid rgba(255, 251, 171); }
  100% { border: 2px solid rgba(255, 200, 30); }
}

.sub {
  position: absolute;
  top: 6px;
  right: 14px;
  width: 18px;
  height: 17px;
  padding: 1px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.birthday .inner {
  border: 2px solid ;
  border: 2px solid rgba(0, 0, 0, .2);
}

.anonymous {
  border: 1px solid #ddd;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #fff;
}

.image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  position: absolute;
  bottom: 15px;
  right: 15px;
  overflow: hidden;
}

.image:hover {
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 5px rgba(255,255,255, 0.8);
}
